body {
	margin: 0;
	padding: 0;
    background-color: white;
}


#pairng {
    text-align: center;
}

#pinInputBox, #pinDisplayBox {
    width: 450pt;
    margin: 0 auto;
    padding: 10pt;
    border: 2px solid #ccc;
    border-radius: 4pt;
}

#pairng .pin {
    font-size: 40pt;
}

#pairng .pin * {
    font-size: 40pt;
}

#publishOrPlay {
    text-align: center;
}

#player video {
    touch-action: none;
}

#streams {
    max-width: 400pt;
    margin: 0 auto;
}

#streams li {
	list-style-type: none;
    text-align: left;
}

#streams .connectionstate {
    margin: 0 10pt;
}

#streams .connectionstate_ready {
    color: green;
}

#streams .connectionstate_connected {
    color: red;
}

#streams .connectionstate_disconnected {
    color: darkred;
}
