body {
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    text-align: center;
}

body.standalone .browser {
    display: none;
}

body.standalone :not(input):not(textarea) {
    user-select: none;
    cursor: default;
}

body.player .noplayer {
    display: none;
}

#player {
    display: none;
    text-align: center;
}

body.player #player {
    display: block;
}

#player-menu {
    height: 18pt;
}

#screen {
    display: none;
    width: 100%;
    height: calc(100vh - 20pt);
    padding: 0;
    margin: 0;
    border: none;
    background-color: #ccc;
}

#pairng {
    max-width: 400pt;
    margin: 12pt auto;
    padding: 8pt 0;
    border: 2px solid #ccc;
    border-radius: 4pt;
    text-align: center;
}

#pairng .pin {
    font-size: 40pt;
}

#pairng .pin * {
    font-size: 40pt;
}

#pairng h2 {
    font-size: 20pt;
    text-align: center;
    margin: 0 0 20pt 0;
    padding: 0;
}

#publishOrPlay {
    text-align: center;
}

#player video {
    touch-action: none;
}

.streamlist {
    max-width: 400pt;
    margin: 0 auto;
}

.streamlist li {
    list-style-type: none;
    text-align: left;
}

.streamlist .connectionstate {
    margin: 0 10pt;
}

.streamlist .connectionstate_ready {
    color: green;
}

.streamlist .connectionstate_connected {
    color: red;
}

.streamlist .connectionstate_disconnected {
    color: darkred;
}

#devices {
    max-width: 400pt;
    margin: 0 auto;
}

#devices>div {
    border: solid 2px #ccc;
    min-height: 50pt;
    border-radius: 6pt;
}

#devices>div>span {
    display: block;
    border-top-left-radius: 4pt;
    border-top-right-radius: 4pt;
    width: 100%;
    background-color: #abf;
    font-weight: bold;
    margin-bottom: 4pt;
}

#devices>div>span>button {
    float: right;
}

.nodevices-msg {
    display: none;
}

.nodevices .nodevices-msg {
    display: block;
}